<p class="footer">
 Made by <b>Peteris Krumins</b> (<a href="http://www.catonmat.net/about/" title="About Peteris Krumins">about him</a>). His blog is at <a href="http://www.catonmat.net" title="good coders code, great reuse">good coders code, great reuse</a>. Cheers to Reddit folks and the alien!<br>
 This site was done in Python and web.py. For more information and source code see the <a href="/about/">about reddit river</a> page.
</p>
<!-- Start of StatCounter Code -->
<script type="text/javascript">
sc_project=3555637; 
sc_invisible=1; 
sc_partition=39; 
sc_security="d5873052"; 
</script>

<script type="text/javascript" src="http://www.statcounter.com/counter/counter_xhtml.js"></script><noscript><div class="statcounter"><a href="http://www.statcounter.com/free_hit_counter.html" target="_blank"><img class="statcounter" src="http://c40.statcounter.com/3555637/0/d5873052/1/" alt="web page hit counter" ></a></div></noscript>
<!-- End of StatCounter Code -->

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-273333-16";
urchinTracker();
</script>
</body>
</html>
